{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/post.css" type="text/css" media="screen">
{% endblock %}

{% block left_menu %}
<a class="button primary" href="{{ path('homepage')}}">Home</a>
{% endblock %}

{% block body %}
<div class="row wrapper">
    <div class="small-10 medium-6 small-centered columns">
        <form method="POST" id="post_form">
            <div class="row">
                <div class="small-12 columns">
                    <label> What's on your mind?
                        <textarea id="textarea" name="body" placeholder="Today..."></textarea>
                    </label>
                    <input id="post_submit" type="submit" class="button" value="Post">
                </div>
            </div>
        </form>
        <div id="post_submit_success" class="callout success small" data-closable>
          <h5>Successfully submitted new post!</h5>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="post_submit_error" class="callout alert small" data-closable>
          <h5>Error submitting post. Please try again.</h5>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/post.js"></script>
{% endblock %}