{% extends 'base.html.twig' %}

{% block left_menu %}
    <a class="button primary" href="{{ path('homepage')}}">Home</a>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 columns">
            <h1>Terms and Conditions</h1>
            <h5>Last updated: 28 May, 2016</h5>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <p>
                Please read these Terms and Conditions 
                ("Terms", "Terms and Conditions", “ToS”) 
                carefully before using the ​http://www.collegeconfessions.party​ 
                website and the ​College Confessions App​ mobile application 
                (the "Service") operated by College Confessions​ 
                ("us", "we", or "our").
            </p>
            <p>
               Your access to and use of the Service is conditioned on 
               your acceptance of and compliance with these Terms. 
               These Terms apply to all visitors, 
               users and others who access or use the Service.
            </p>
            <p><b>
                By accessing or using the Service 
                you agree to be bound by these Terms. 
                If you disagree with any part of the 
                terms then you may not access the Service.
            </b></p>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h3>Content</h3>
            <h4>Material</h4>
            <p>
                Our Service allows you to post, link, store, share 
                and otherwise make available certain information, 
                text, graphics, videos, or other material ("Content"). 
                You are responsible for the content that is posted on the Site.
            </p>
            <h4>Restricted Content</h4>
            <p>
                Content that is not permitted to be posted includes 
                copyrighted material; 
                links to illicit or obscene material 
                including but not limited to 
                phishing sites, spam, fraudulent websites; 
                harassment; 
                doxxing (the identification and revelation of anonymous individuals); 
                solicitation of services or payment; 
                exploits minors;
                depicts or indicates animal cruelty; 
                promotes fraudulent or dubious business schemes; 
                legitimate threats of violence to oneself or others; 
                or impersonating another individual.
            </p>
            <h4>Access</h4>
            <p>
                Without advance notice and at any time, we may, 
                for violations of this agreement or for any other reason we choose: 
                suspend your access, 
                suspend or terminate Your Account or, 
                and/or remove any of your User Content.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h3>Links To Other Web Sites</h3>
            <p>
                Our Service may contain links to third-party web sites or 
                services that are not owned or controlled by College Confessions.
            </p>
            <p>
                College Confessions​ has no control over, 
                and assumes no responsibility for, 
                the content, privacy policies, 
                or practices of any third party web sites or services. 
                You further acknowledge and agree that 
                College Confessions​ shall not be responsible or liable, 
                directly or indirectly, 
                for any damage or loss caused or alleged to be caused by 
                or in connection with use of or reliance on any such content, 
                goods or services available on 
                or through any such web sites or services.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h3>Changes</h3>
            <p>
                We reserve the right, at our sole discretion, 
                to modify or replace these Terms at any time. 
                If a revision is material we will try to provide at 
                least ​30-days notice prior to any new terms taking effect. 
                What constitutes a material change 
                will be determined at our sole discretion
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h3>Contact Us</h3>
            <p>
                If you have any questions about this Privacy Policy, please contact us.
                <a href="mailto:adrestiaweb@gmail.com">adrestiaweb@gmail.com</a>
            </p>
        </div>
    </div>
{% endblock %}