{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block left_menu %}
{% endblock %}

{% block right_menu %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-6 small-centered columns">
            <h1 style="text-align: center"> Admin Home </h1>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
