.wrapper {
    margin-top: 40px;
    padding-bottom: 40px;
}

.post {
    position: relative;
    background-color: #FFF;
    padding: 20px 10px;
    box-shadow: 0px 0px 3px #BBBBBB;
    height: 100%;
    margin-bottom: 0.5vh;
}

.score {
    text-align: center;
}

div.body {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    word-wrap: break-word;
}

.post_college {
    font-size: 0.7rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #888;
}

.post_time {
    font-size: .75em;
    color: #808080;
    position: absolute;
    bottom: 30px;
}

.view_post {
    font-size: .75em;
    position: absolute;
    bottom: 10px;
}

.view_post:hover {
    text-decoration: underline;
}

.post_body {
    margin-bottom: 2rem;
    white-space: pre-wrap;
}

#college_home {
    margin-left: 20px !important;
    margin-right: -50px !important;
}

#select_college {
    margin: 0 10px 0 0;
}

.title {
    text-align: center;
    padding: 5vh 0;
}