.wrapper {
    margin-top: 40px;
    padding-bottom: 40px;
}

.post {
    position: relative;
    background-color: #FFF;
    padding: 20px 10px;
    box-shadow: 0px 0px 3px #BBBBBB;
    height: 100%;
}

.score {
    text-align: center;
}

div.body {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    word-wrap: break-word;
}

.post_report {
    font-size: .75em;
    position: absolute;
    bottom: 10px;
}

.post_remove {
    font-size: .75em;
    color: #F2363F;
    position: absolute;
    bottom: 10px;
    left: 70px;
}

.post_time {
    font-size: .75em;
    color: #808080;
    position: absolute;
    bottom: 30px;
}

.post_remove:hover {
    text-decoration: underline;
}

.post_report:hover {
    text-decoration: underline;
}

.view_post {
    font-size: .75em;
    position: absolute;
    bottom: 10px;
    left: 75px;
}

.view_post:hover {
    text-decoration: underline;
}

.fi-arrow-up {
    text-align: center;
    font-size: 1.5em;
    color: #DCDCDC;
}

.fi-arrow-down {
    text-align: center;
    font-size: 1.5em;
    color: #DCDCDC;
}

.blue {
    color: #3F51B5;
}

.pink {
    color: #FF4081;
}

.post_upvote, .post_downvote {
    cursor: pointer;
}

.tabs-row {
    padding: 0;
    background: #FFF;
}

.post_body {
    margin-bottom: 2rem;
    white-space: pre-wrap;
}