{% extends 'base.html.twig' %}

{% block left_menu %}
    <a class="button primary" href="{{ path('homepage')}}">Home</a>
{% endblock %}
{% block search %}{% endblock %}

{% block body%}
    <div class="row">
        <div class="small-10 small-centered columns">
            {% if error is defined %}
                <div class="callout alert large">
                  <h5>Whoops...</h5>
                  <p>{{ error }}</p>
                  <a href="{{ path('homepage') }}">Go home.</a>
                </div>
            {% else %}
                <div class="callout success large">
                  <h5>Sucess</h5>
                  <p>Thanks for confirming your email!.</p>
                  <a href="{{ path('login') }}">Log in here!</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}