{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="small-8 small-centered columns">
            <p>
                An email has been sent to <strong>{{ email }}</strong>.
            </p>
            <p>
                Please click the link to confirm your email address
                and start using your account.
            </p>
        </div>
    </div>
{% endblock %}